#bottomViev{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    
    height: 20vh;
    width: auto;
    background: rgba(27, 26, 26, 0.5);
    margin: 3px;
}
.mem{
    width: 45%;
    background: gray;
    text-align: center;
    /* height: 4vh;
    vertical-align: middle; */
    align-self: center;
    font: 1.3em sans-serif;
    margin: 5px;
}