<div id="topViev">
    <app-top-element class="text" id="txtDis" ></app-top-element>
    <div id="res"><span id="res2">0</span></div>
    <div class="btnCBPS">
        <a  id="c" class=" btn-flip"  data-back="Clear" data-front="C" (click)="ClearFromTop()"></a>
        <a  id="bs" class=" btn-flip"  data-back="Back" data-front="Bs" (click)="delLastFromTop()"></a>
        <a  id="pr" class=" btn-flip"  data-back="Proc" data-front="%"></a>
        <a  id="rav" class=" btn-flip"  data-back="Rav" data-front="="></a>
    </div>
</div>
