*{
    margin: 0;
}
body{
    background: rgba(12, 26, 65, 0.726);
}
html { overflow:  hidden; }

.container{
    display: flex;
    flex-direction: column;
    /* width: 380px; */
    max-width: 1200px;
    height 100%;
    min-height: -webkit-fill-available;
    background: url(top-view/images/blue5555.png);
    margin: 4px 0;
    padding: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}


.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
